.burgers {
  background-image: linear-gradient(to bottom, $yellow 0%, #eb8c38 48%, $yellow 74%);
}

.ingredients,
.weight {
  position: absolute;
}

.ingredients {
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: rem(90px);
  height: rem(90px);
  background-color: rgba($red, .4);
  border-radius: 5px;

  @include tablets {
    left: rem(40px);
  }

  @include phones {
    left: 0;
  }

  &:hover {
    background-color: $red;

    & .ingredients__dropdown--active {
      left: 100%;
      top: 0;
    }
  }
}

.ingredients__icon--burger {
  width: rem(46px);
  height: rem(45px);
}

.ingredients__text,
.weight {
  @include gagalin();
  font-size: rem(14px);
}

.weight {
  left: 0;
  bottom: 0;
  opacity: 0.5;


  @include tablets {
    bottom: initial;
    left: initial;
    top: 0;
    right: rem(40px);
  }

  @include phones {
    right: 0;
  }
}

.weight__icon {
  @include bgcover();
  background-image: url(../img/svg/kkal.svg);
  width: rem(60px);
  height: rem(60px);
  position: relative;
}

.weight__amount {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(20px);
}

.weight__measure {
  text-align: center;
  margin-top: rem(3px);
}

.ingredients__dropdown {
  display: flex;
  position: absolute;
  left: -9999px;
  width: rem(270px);
  height: rem(330px);
  background-color: rgba($white, .9);
  border-radius: 5px;
  z-index: 1;


  @include tablets {
    width: rem(320px);
  }

  @include phones-small {
    width: rem(265px);
  }
}

.ingredients__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 6% 8%;
  position: relative;

  @include tablets {
    padding-right: 25%;
  }
}

.ingredients__cross {
  position: absolute;
  top: 6%;
  right: 6%;
  width: 20px;
  height: 20px;
  z-index: 5;

}

.ingredients__cross-link {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: none;

  @include tablets {
    display: flex;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: rgba(227, 80, 40, .7);
    border-radius: 5px;
    transform-origin: 0 0;
    transform: rotate(45deg) translate(3px, -1px);
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: rgba(227, 80, 40, .7);
    border-radius: 5px;
    transform-origin: 0 0;
    transform: rotate(-45deg);
  }
}

.ingredients__icon {
  max-width: rem(45px);
  max-height: rem(45px);
}

.ingredients__item {
  display: flex;
  align-items: center;
  color: $dark-grey;
}

.ingredients__name {
  margin-left: rem(30px);
  font-weight: 500;
}

.ingredients__weight {
  margin-left: auto;
}