.container {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.container--welcome {
  justify-content: space-between;
}

.container--footer {
  flex-direction: row;
  justify-content: space-between;

  @include phones {
    flex-direction: column;
    align-items: center;
  }
}