.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  &--welcome {
    justify-content: flex-start;
    position: relative;
  }

  &--footer {
    flex-direction: row;
    justify-content: space-between;

    @include phones {
      flex-direction: column;
      align-items: center;
    }
  }

  &--burgers {
    position: relative;

    @include tablets {
      width: 70%;
    }

    @include phones {
      width: 95%;
    }
  }

  &--video {
    width: rem(660px);

    @include tablets {
      width: 95%;
    }
  }
}