.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: rem(12px) 0;
  // height: rem(60px);
  width: 100%;
  @include bgcover();
  background-image: url(../img/bg/bg_footer.png);
  }

.footer__left, .footer__right {
  flex: 1;
  display: flex;
  align-items: center;
}

.footer__right {
  justify-content: flex-end;
}

.contacts__phone {
  font-weight: bold;
  color: $orange;
  display: flex;
  align-items: center;

  @include phones {
    justify-content: center;
    margin-bottom: rem(15px);
    }
}

.contacts__phone-icon {
  width: rem(12px);
  height: rem(11px);
  margin-right: rem(5px)
}