.footer {
  position: absolute;
  bottom: 0;
  height: rem(60px);
  width: 100%;
  @include bgcover();
  background-image: url(../img/bg/bg_footer.png);
  display: flex;
}

.footer__left, .footer__right {
  flex: 1;
  display: flex;
  align-items: center;
}

.footer__right {
  justify-content: flex-end;
}

.contacts__phone {
  font-weight: bold;
  color: $orange;
  display: inline-flex;
  align-items: center;

  &:before {
    content: '';
    width: rem(12px);
    height: rem(11px);
    background-image: url(../img/icons/phone.png);
    margin-right: rem(5px);
  }
}