.form {
  display: flex;
}

.form__wrap {
  margin-top: rem(45px);
}

.form__col {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(20px);

  &:last-child {
    margin-bottom: 0;
  }
}

.form__block {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.form__block-title {
  margin-bottom: rem(7px);
}

.form-field {
  font-weight: 300;
  color: $dark-grey;
  width: 100%;
  background: #fff;
  border-radius: rem(5px);
  padding: rem(8px) rem(20px);
  outline: none;
  border: rem(2px) solid #d1cfcb;

  &:focus {
    border: 2px solid $yellow;
    }
}

.form__textarea {
  resize: none;
  outline: none;
  height: rem(118px);
}

.form__block-radio {
  display: flex;
}

.form__radio {
  display: flex;
  margin-right: rem(25px);
  align-items: center;
}

.radio {
  display: none;
}

.radio__visible {
  width: rem(15px);
  height: rem(15px);
  border-radius: 50%;
  background-color: $white;
  position: relative;
  margin-right: rem(10px);

  &:before {
    content: "";
    position: absolute;
    top: rem(4px);
    bottom: rem(4px);
    left: rem(4px);
    right: rem(4px);
    background-color: $red;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
  }
}

.radio:checked ~ .radio__visible:before {
  opacity: 1;
  transform: scale(1);
  transition: opacity .3s;
}

.form__checkbox {
  display: flex;
  align-items: center;
}

.checkbox {
  display: none;
}

.checkbox__visible {
  width: rem(16px);
  height: rem(15px);
  background-color: $white;
  position: relative;
  margin-right: rem(9px);

  &:before {
    content: "";
    @include centered(both);
    width: rem(11px);
    height: rem(9px);
    background-image: url(../img/icons/checkbox.png);
    opacity: 0;
    transform: scale(0);
  }
}

.checkbox:checked ~ .checkbox__visible:before {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
  transition: opacity .3s;
}