.menu {
  @include bgcover();
  background-image: url(../img/bg/bg_menu.png);
  position: relative;
}

.menu__accordeon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;  
  display: flex;
  z-index: 1;
  max-width: 100%;
}

.menu__title {
  position: absolute;
  top: 15%;
  left: 10%;
}

.submenu {
  display: flex;
}

.submenu__link {
  @include bgcover();
  width: rem(80px);
  // display: flex;
  // align-items: flex-end;
  // justify-content: center;

  position: relative;
}

.submenu__link--meat {
  background-image: url(../img/bg/bg_menu_item1.png);
}

.submenu__link--veg {
  background-image: url(../img/bg/bg_menu_item2.png);
}

.submenu__link--diet {
  background-image: url(../img/bg/bg_menu_item3.png);
}

.submenu__title {
  font-size: rem(40px);
  white-space: nowrap;

  // transform: rotate(-90deg);
  // width: 0;

  position: absolute;
  top: 100%;
  // bottom: 0;
  left: 50%;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  margin-top: rem(-40px);

  // writing-mode: tb-rl;
  // transform: rotate(180deg);
  
}

.submenu__wrap {
  width: 0;
}

.submenu__desc {
  line-height: 2;
  background-color: rgba(#383c3e, .93);
  height: 100%;
  overflow: hidden;
  padding: 7% 6%;
}

.menu__accordeon-item--active {
  & .submenu__title {
    color: $yellow;
  }

  & .submenu__wrap {
    width: rem(540px);
  }
}



