.nav__list {
  display: flex;

  @include tablets {
    display: none;
  }
}

.nav__item{
  display: flex;
  align-items: center;
  position: relative;

  &:before {
    content: '';
    display: block;
    @include circle(rem(4px), $white);
    margin: 0 rem(10px);
  }
    &:first-child:before {
    display: none;
  }
}

.nav__link {
  font-weight: 500;
  font-size: rem(12px);
  text-transform: uppercase;
  color: $white;  
}