.person__link {
  display: inline-flex;
  align-items: center;
  color: $white;
  @include gagalin();
  
  @include tablets {
    font-size: rem(25px);
    white-space: nowrap;
  }

  &:before {
    content: "";
    width: rem(9px);
    border-top: rem(7px) solid $yellow;
    border-bottom: none;
    border-left: rem(7px) solid transparent;
    border-right: rem(7px) solid transparent;
    margin-right: rem(10px);
    transition: transform .5s;

  }
}

.person__block {
  display: flex;
  margin-top: rem(15px);
  margin-left: rem(19px);
  // max-height: 0;
  height: 0;
  overflow: hidden;
  // transition: max-height .5s;
  transition: height .5s;

  @include tablets {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}

.person__avatar {
  width: rem(100px);
  height: rem(100px);
  border-radius: 50%;
  overflow: hidden;
  margin-right: rem(20px);
  flex-shrink: 0;

  @include tablets {
    margin-right: 0;
    margin-bottom: rem(20px);
  }
}

.person__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.person__profession {
  font-weight: bold;
  margin-bottom: 20px;
}

.person--active {
  // & .person__block {
  //   max-height: 100vh;
  // }

  & .person__link {
    color: $yellow;

    &:before {
      transform: rotate(-180deg);
    }
  }
}

