.points {
  position: fixed;
  top: rem(96px);
  right: rem(55px);
}

.points__item {
  margin-bottom: rem(5px);
}

.points__link {
  display: block;
  width: rem(16px);
  height: rem(16px);
  position: relative;
  
  &:before, &:after {
    content: '';
    display: block;
    @include centered();
  }

  &:before {
    @include circle(rem(6px), $white);
  }

  &:after {
    width: rem(16px);
    height: rem(16px);
    border: rem(1px) solid $white;
    border-radius: 50%;
    opacity: 0;
    transition: .3s;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

.points__item--active {
  .points__link:after {
    opacity: 1;
  }
}

