.section-title {
  @include gagalin();
  font-size: rem(72px);
  line-height: 0.89;
  color: $yellow;

  @include tablets {
    font-size: rem(63px);
  }

  @include phones {
    font-size: rem(50px);
  }

  &--grey {
    color: $dark-grey;
  }

  &--white {
    color: $white;
  }

  &--centered {
    text-align: center;
  }
}

 


