.socials {
  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.socials__link-icon {
  fill-opacity: .3;
  transition: fill-opacity .3s;
  &:hover {
    fill-opacity: 1;
  }
}

.socials__link-icon--vk {
  width: rem(23px);
  height: rem(13px);
}

.socials__link-icon--fb {
  width: rem(20px);
  height: rem(20px);
}

.socials__link-icon--inst {
  width: rem(20px);
  height: rem(20px);
}

.socials__link-icon--twitter {
  width: rem(20px);
  height: rem(16px);
}
