.team {
  background: url(../img/bg/bg_team.png) center top / cover no-repeat;
  position: relative;
}

.team__desc {
  padding: 15%;
  

  @include tablets {
    text-align: center;
  }

  @include phones {
    padding: 8%;
  }
}

.team__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  background-color: rgba(#393b3c, .93);

  @include tablets {
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.team__accordeon {
  margin-top: rem(40px);
  display: flex;
  flex-direction: column;

  @include tablets {
    align-items: center;
  }
}

.team__accordeon-item {
  margin-bottom: rem(35px);
  width: 100%;

  @include tablets {
    width: 75%;
  }
}



